<div *ngIf="!busy" class="nav p-2 shadow sticky-top bg-white">
    <div class="col ms-5">
        <p class="ms-5 mb-0 text-center" style="font-size: 34px;">RoundApp</p>
    </div>
    <div class="col" *ngIf="profileImg">
        <img class="shadow-lg rounded-circle mx-auto d-block" style="height: 50px;" src="https://ucarecdn.com/{{ profileImg }}/"/>
    </div>
</div>
<div *ngIf="!busy" class="container">
    <div class="row justify-content-center mt-5">
        <div class="card col-md-9 col-xs-8 col-lg-7 p-0 m-3 shadow-lg" *ngFor="let post of posts" (click)="goTo(post.id)">
            <div class="card-header">
                {{ post.author }}
            </div>
            <img src="https://ucarecdn.com/{{ post.id }}/{{ post.effect }}/-/scale_crop/200x200/center/" />
            <div class="card-body">
                <div class="row">
                    <p class="card-text">{{ post.likes.length }} aprecieri</p>
                </div>
                <div class="row">
                    <span class="card-text">{{ post.desc }}</span>
                </div>
            </div>
        </div>
    </div>
</div>