<app-loading></app-loading>
<router-outlet></router-outlet>
<div *ngIf="router.url != '/login' && router.url != '/register'" 
class="my-nav-bar container text-center rounded-pill bg-light col-md-3 col-sm-6 fixed-bottom mb-3">
    <div class="row p-3">
        <div class="col" (click)="goToFeed()"><i class="material-icons">whatshot</i></div>
        <div class="col" (click)="goToUpload()"><i class="material-icons">add_circle_outline</i></div>
        <div class="col" (click)="goToProfile()"><i class="material-icons">person_outline</i></div>
    </div>
</div>