<div *ngIf="!busy" class="container mt-5">
    <div class="row justify-content-center m-5" *ngIf="email">
        <div class="col-md-3">
            <img *ngIf="status == 'single'" class="rounded-circle" style="border: 4px solid #00c519;" src="https://ucarecdn.com/{{ profileImg }}/-/scale_crop/200x200/center/" />
            <img *ngIf="status == 'complicated'" class="rounded-circle" style="border: 4px solid #fbb900;" src="https://ucarecdn.com/{{ profileImg }}/-/scale_crop/200x200/center/" />
            <img *ngIf="status == 'relationship'" class="rounded-circle" style="border: 4px solid #c80303;" src="https://ucarecdn.com/{{ profileImg }}/-/scale_crop/200x200/center/" />
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="">{{ username | lowercase }}</h2>
                </div>
                <div class="col-md-4">
                    <button class="btn shadow p-2" (click)="goToEdit()">Edit Profile</button>
                </div>
                <div class="col-md-4">
                    <button class="btn shadow p-2" (click)="logout()">Logout</button>
                </div>
            </div>
            <div class="col">
                <p class="">{{ email }}</p>
            </div>
            <div class="col">
                <p class="">{{ bio }}</p>
            </div>
        </div>
    </div>

    <div class="row mt-5 justify-content-between m-5">
        <div class="card col-md-4 p-0" *ngFor="let post of posts" (click)="goTo(post)">
            <img src="https://ucarecdn.com/{{ post }}/-/scale_crop/200x200/center/">
        </div>
    </div>

</div>